

body {
	font-family: Helvetica, sans-serif;
	background-image: url(gtb_bg.png);
    background-size: 150px;
}

#gtb {
	font-family: Verdana;
    text-shadow: 3px 3px #ff5f94;
}

header {
	width: 1100px;
	padding: 10px;
    background-color: mediumseagreen;
	margin: auto;
	color: white;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
}

a {
	margin-right: 10px;
}

table {
	font-size: 11pt;
}

button {
	margin-right: 5px;
	margin-bottom: 5px;
}

#buttons {
	width: 1100px;
	margin: auto;
	background-color: palegreen;
	padding: 10px;
	font-size: 10pt;
}

caption {
	font-weight: bold;
	background-color: #ffffe0;
    border: 1px solid;
}

#connectTable {
	border-spacing: 10px;
	margin-bottom: 20px;
}

.tableBack {
	background-color: transparent;
	border: 0;
}

#banzuke1, #banzuke2 {
	border: 2px solid dimgray;
	border-spacing: 6px;
	background-color: white;
}

td {
	min-width: 200px;
	height: 21px;
	padding: 0;
	background-color: #e6e1d5;
	border-bottom: 1px solid dimgray;
	border-right: 1px solid dimgray;
}

.theader th {
	background-color: #ffbe5e;
}

th {
	background-color: #e6e1d5;
	font-weight: normal;
}

.redips-drag.ju {
	background-color: #fffaca;
}

.ch {
	background-color: white !important;
	font-size: 10pt;
	min-width: 34px;
	line-height: 19px;
	text-align: center;
	color: blue;
}

tr.san td, tr.san th {
	background-color: #efe7a3;
}

td span {
	text-align: justify;
	width: 190px;
	height: 18px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0 auto;
}

td span::after {
	content: "";
	display: inline-block;
	width: 100%;
}

td .redips-drag {
	background-color: white;
	text-align: justify;
	width: 190px;
	height: 18px;
	border: 1px solid;
	border-radius: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0 auto;
	cursor: grab;
}

td .redips-drag::after {
	content: "";
	display: inline-block;
	width: 100%;
}

footer {
	padding: 10px;
    background-color: mediumseagreen;
	color: white;
	margin: auto;
	width: 600px;
	text-align: center;
}
