
@font-face {
  font-family: Helvetica;
  src: url(Helvetica.ttf);
}

body {
}

table {
	font-family: Helvetica, sans-serif;
	font-size: 11pt;
	border: 2px solid black;
	display: inline-table;
	border-spacing: 3px;
}

#currentBanzuke {
	margin-left: 50px;
	background-color: white;
}

#nextBanzuke {
	background-color: lemonchiffon;
}

td {
	min-width: 206px;
	align-content: center;
	height: 20px;
	background-color: #cccccc;
	padding: 2px;
}

.theader th {
	font-weight: bold;
	background-color: sandybrown;
}

th {
	background-color: #cccccc;
	font-weight: normal;
}

.redips-drag.ju {
	background: linear-gradient(white, papayawhip);
}

.mvmt {
	font-size: 10pt;
	min-width: 37px;
	line-height: 19px;
	text-align: center;
	background-color: transparent !important;
}

tr.san td, tr.san th {
	background-color: lightsteelblue;
}

td span {
	text-align: justify;
	color: darkslategray;
	width: 200px;
	height: 17px;
	padding-left: 2px;
	padding-right: 2px;
}

td span::after {
	content: "";
	display: inline-block;
	width: 100%;
}

td .redips-drag {
	background: linear-gradient(white, gainsboro);
	text-align: justify;
	width: 200px;
	height: 17px;
	border: 1px solid;
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

td .redips-drag::after {
	content: "";
	display: inline-block;
	width: 100%;
}