
body {
	font-family: Helvetica, sans-serif;
	background-image: url(gtb_bg.png);
    background-size: 150px;
    background-attachment: fixed;
}

#gtb {
	font-family: Verdana;
    text-shadow: 3px 3px #ff236c;
}

header {
	width: 800px;
	padding: 10px;
	padding-left: 20px;
    background-color: #ffa726;
	margin-left: 50px;
	margin-bottom: 20px;
	color: white;
	border-right: 2px solid dimgray;
	border-bottom: 2px solid dimgray;
	box-shadow: 5px 5px darkgray;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
}

a {
	margin-right: 10px;
}

ul {
	display: inline-block;
	font-size: 11pt;
	line-height: 25px;
}

table {
	display: inline-table;
	font-size: 11pt;
	margin-bottom: 20px;
	border: 2px solid dimgray;
	border-spacing: 6px;
	background-color: white;
	margin-left: 50px;
	box-shadow: 5px 5px darkgray;
}

button {
	margin-left: 50px;
}

caption {
	font-weight: bold;
	background-color: #ffffe0;
    border: 1px solid;
}

td {
	min-width: 200px;
	height: 21px;
	padding: 0;
	background-color: #e6e1d5;
	border-bottom: 1px solid dimgray;
	border-right: 1px solid dimgray;
}

.theader th {
	background-color: #88caff;
}

th {
	background-color: #e6e1d5;
	font-weight: normal;
}

.redips-drag.ju {
	background-color: #fffaca;
}

.ch {
	background-color: white !important;
	font-size: 10pt;
	min-width: 34px;
	line-height: 19px;
	text-align: center;
}

tr.san td, tr.san th {
	background-color: #efe7a3;
}

td span {
	text-align: justify;
	width: 190px;
	height: 18px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0 auto;
}

td span::after {
	content: "";
	display: inline-block;
	width: 100%;
}

td .redips-drag {
	background-color: white;
	text-align: justify;
	width: 190px;
	height: 18px;
	border: 1px solid;
	border-radius: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0 auto;
	cursor: grab;
}

td .redips-drag::after {
	content: "";
	display: inline-block;
	width: 100%;
}

footer {
	padding: 10px;
    background-color: #ffa726;
	color: white;
	margin-left: 250px;
	width: 400px;
	text-align: center;
	border-right: 2px solid dimgray;
	border-bottom: 2px solid dimgray;
	box-shadow: 5px 5px darkgray;
}
